
<div class="mp-footer-info__wrapper">
  <div class="mp-footer-info">
<div class="mp-footer-info__concat">
  <h3 class="mp-footer-info__title">联系我们</h3>

  <ul class=" mp-footer-info__list">
    <li class="mp-footer-info__list__item">
      <a class="mp-footer-info__link mp-footer-info__list--disabled">
        电话：12345667
      </a>
    </li>
    <li class="mp-footer-info__list__item">
        <a class="mp-footer-info__link mp-footer-info__list--disabled">
          邮箱：123@11.com
        </a>
      </li>
  </ul>

</div>


<div class="mp-footer-info__qrcode">
    <img src="http://placehold.it/400x200/">

</div>



</div>
</div>
