<router-outlet></router-outlet>



<!-- <div>button:</div>
<div>
  <button nz-button nzType="primary">Primary</button>
  <button nz-button nzType="default">Default</button>
  <button nz-button nzType="dashed">Dashed</button>
  <button nz-button nzType="danger">Danger</button>
  <button nz-button nzType="link">Link</button>
</div>

<div>组件国际化:</div>
<div>
  <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
  <br />
  <nz-month-picker
    [(ngModel)]="date"
    (ngModelChange)="onChange($event)"
    nzPlaceHolder="Select month"
  ></nz-month-picker>
  <br />
  <nz-year-picker [(ngModel)]="date" (ngModelChange)="onChange($event)" nzPlaceHolder="Select year"></nz-year-picker>
  <br />
  <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" nzShowTime></nz-range-picker>
  <br />
  <nz-week-picker [(ngModel)]="date" (ngModelChange)="getWeek($event)" nzPlaceHolder="Select week"></nz-week-picker>
  <br />
  <button nz-button nzType="default" (click)="changeLanguage()">Switch language for all pickers</button>
</div>

<div>icon:</div>
<div>
  <i nz-icon nzType="step-forward" nzTheme="outline"></i>
  <i nz-icon nzType="vertical-right" nzTheme="outline"></i>
</div> -->
